#error {
    section {
        height: 80vh;
        flex-direction: column;
            h1 {
                margin: 0;
                font-size: 60px;
                font-weight: 600;
                line-height: 1.5em;
                text-align: center;
            }
           
            p {
             font-size: 16px;
             text-align: center;
             color: var(--gray);
            }
            button {
                margin-left: 90px;
                ;
              }
              button, a {
                text-decoration: none;
                color: var(--white);
              }
              button {
                @include button-main; 
                border-radius: 50px;
                width: 50%;
                background-color: var(--laranja);
                border: var(--laranja) 1px solid;
              }
    }
}