@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight : 600;
} 
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight : 500;
} 
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight : 600;
} 

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight : bold;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight : medium;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight : italic;
} 
