#home {
  flex-direction: column;
  .full-banner-home {
    max-width: 1920px;
    max-height: 900px;
    width: 100%;
    position: relative;
    background-image: url('../img/h1-slider-img-22.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50vw;
    margin-top: 10px;
    header {
      width: 100%;
      height: calc(100vh - 80px);
      padding-top: 40px;
      flex-direction: column;
      z-index: 3;    
      justify-content: flex-end;
      z-index: 3;
      .hero {
        align-items: flex-start;
        text-align: end;
        flex-direction: column;
        z-index: 2;
        padding: 40px 0 20px;
        justify-content: flex-end;
        > div {
          flex-direction: column;
          margin-left: -50px;
          h1 {
            font-size: 80px;
            font-weight: bold;
            text-align: left;
            color: var(--main);
            font-family: 'Montserrat';
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 0;
            margin-left: 90px;
            strong {
              color: var(--laranja);
              font-weight: 800;
            }
          }
          hr {
            width: 68px;
            border: none;
            border-top: 4px solid var(--laranja);
            margin: 0px 90px;
          }
          p {
            margin-left: 90px;
            text-align: left;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: var(--black);
            font-family: 'Nunito';
          }
          button {
            margin-left: 90px;
            ;
          }
          button, a {
            text-decoration: none;
            color: var(--laranja);
          }
          button {
            @include button-laranja; 
            border-radius: 50px;
            width: 50%;
            background: transparent;
            border: var(--laranja) 1px solid;
          }
        }
      }
    }
  }
  .about {
    flex-direction: column;
    margin-top: var(--space);
    height: 120vh;
    .about-title {
      flex-direction: column;
      padding: var(--space);
      background-color: #5663c1;
      h3 {
        margin: var(--space);
        font-size: 33px;
        font-weight: 600;
        color: var(--white);
        text-align: center; 
      }
      p {
        margin: 0;
        font-size: 17px;
        font-weight: 300;
        margin: 1.2rem 17px;
        color: var(--white);
      }
      .btn-about {
        height: 40px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 1.2rem 17px;
        background-color: #F8464F;
        border-radius: 15px 15px 15px 15px;
        border:  none;
        position: relative;
        display: inline-block;
         
        a {
          color: #ffffff;
          line-height: 23px;
          font-size: 17px;
          text-align: center;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }  
    .about-photo {
      background-image: url(../img/aboutus.webp);
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      background-position: center;
      background-size: cover;
      > img {
        width: 90%;
        height: 100%;
      }
    }  
    .title {
      flex-direction: column;
      margin-top: var(--space);
      h1 {
        font-size: 50px;
        text-align: center;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        text-align: center;
        color: var(--gray-3);
      }
    }
    .title {
      background-image: url('..//img/clinica-olhar.webp');
      h1 {
        color: var(--white);
      }
    }
  }
  .container-blog {
    flex-direction: column;
    padding: var(--space);
    background-color: #F8F8F8;

    .section {
      flex-direction: column;
      margin-bottom: 20px;

      .title {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: relative;

        &::before {
          content: '';
          width: 300px;
          height: 3px;
          background-color: var(--third);
          position: absolute;
          top: 4px;
        }

        h5 {
          padding-top: 10px;
          font-size: 24px;
          color: var(--main);
          margin: 6px 0;
        }
      }
    }
    
    .blog-text {
      flex-direction: column;
      align-items: center;
        
      h3 {
        color: var(--blue);
        font-size: 40px;
        margin: 0;
      }

      p {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: var(--main);
        text-align: center;
      }
    }

    .wrap {
      flex-direction: row;
      .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        .card {
          width: 100%;
          max-width: 350px;
          margin: 20px auto;
          flex-direction: column;
          box-shadow: 0 1px 10px #ccc;
          border-radius: 18px;
          padding-bottom: 10px;
          background-color: #FFFFFF;
          > img {
            object-fit: cover;
            height: 300px;
            width: 100%;
            border-radius: 18px;
          }
          .card-text {
            flex-direction: column;
            margin: 20px;
            padding: 0 10px;

            h4 {
              margin: 5px 0;
              font-size: 18px;
              margin: 5px 0;
              font-size: 20px;
              color: var(--dark-gray);
              font-weight: 800;
              font-family: 'Montsserat', sans-serif;
            }
            p {
              line-height: 25px;
              color: var(--gray);
            }
          }
          button {
            padding: 10px 20px 10px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: transparent;
            border: none;

            a {
              text-decoration: none;
              margin: 0 5px;
              font-size: 16px;
              color: var(--blue);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .rating {
    width: 100%;
    height: 300px;
    position: relative;
    .rating-opacity {
      background-color: var(--main);
      width: 100%;
      height: 300px;
      position: absolute;
      flex-direction: column;
      padding: var(--space);
      h2 {
        font-size: 50px;
        margin: 0;
        margin-bottom: 15px;
        color: var(--white);
        strong {
          color: var(--laranja);
          font-size: 40px;
        }
      }
    }
    button {
      @include button-white;
      position: absolute;
      top: 80%;
      left: calc(50% - 100px);
      width: 205px;
      a {
        text-decoration: none;
        color: var(--dark-gray);
      }
    }
  }
 
}

@media (min-width: 768px) {
  #home {
    .full-banner-home {
      background-image: url("../img/h4-slide-img-1new.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 550px;    
      header {
        flex-direction: row;
        justify-content: center;
        height: 510px;

        .hero {
          width: 100%;
          justify-content: center;
          padding-top: 0;
          padding-bottom: 40px;
          height: 510px;

          .hero-text {
            flex-direction: column;
            justify-content: initial;
            padding: 0 40px 0 8rem;

            h1 {
              margin: 0;
            }
          }
        }
      }
    }  
    .about {
      display: grid;      
      grid-template-columns: 1fr 1fr;
      height: initial;
      .about-title {
        h3 {
          text-align: left;
          font-size: 36px;
        }
        p {
          font-size: 19px;
        }
        .btn-about {
          width: 40%;
        }
      }
      .about-photo {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }   
    .container-blog {
      .wrap {
        .cards {
          grid-template-columns: 1fr 1fr;
         
        }
      }
    }
    .rating {
      height: 218px;
     .rating-opacity {
      height: 240px;
     } 
    }
  }
}

@media (min-width: 920px) {
  #home {
    .full-banner-home {
      .hero {
        .hero-text {
          > div {
            h1 {
              margin-right: 400px;
            
            }
            .btn-mais {
              margin-left: 180px;
            }
          }
        
        }
      }
    }
    .container-blog {
      margin: 0;
      .wrap {
        margin: 0;
        .cards {
          grid-template-columns: 1fr 1fr;
          margin: 0;
        }
      }
    }
    .rating {
     .rating-opacity {
        padding: var(--space) calc(var(--space) * 2);
        h2 {
          margin-top: calc(var(--space) * 2);
        }
     } 
    }
  }
}

@media (min-width: 1200px) {
  #home {
    .full-banner-home {
      height: 630px;
      header {
        height: 630px;
        .hero {
          h1 {
            font-size: 40px;
            font-weight: bold;
            text-align: left;
            color: var(--main);
            font-family: 'Montserrat';
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 0;
            margin-left: 90px;
          }
        }
      }
    }
    .container-blog {
      margin: 0;
      .wrap {

        .cards {
          grid-template-columns: 1fr 1fr 1fr ;
          .card {
            max-width: 350px;
          }
        }
      }
    }
    .rating {
      height: 200px;
      flex-direction: row;
      .rating-opacity {
         height: 200px;
         strong {
          font-size: 100px;
        }
        p, small {
          font-size: 50px;
        }
        p + br {
          display: none;
        }
      } 
      > button {
        position: relative;
        top: calc(50% - 30px);
        left: 80%;
      }
    }  
  }
  .about{ 
   // height: 100vh;
    width: 100%;
    .about-title {
      h3 {
        font-size: 50px;
         margin: 40px;
      }
      p {
        font-size: 20px;
        margin: 40px;
      }
      .btn-about {
        margin: 40px;
      }
    }  
    .container-about {
      grid-template-columns: 1fr 1fr;
      .about-title {      
        
        h3 {
          font-size: 50px;
          margin: 40px;
        }
        p {
          font-size: 20px;
          margin: 40px;
        }
        .btn-about {
          margin: 40px;
        }
      }  
    }
   
  }
 
}