:root {
    --white: #fff;
    --black: #000;
    --black-hover: #111;
    --black-active: #222;

    --blue: #5764C1;
    --laranja: #f95259;
    --laranja-hover: #f75d43;
    
    --dark-0: #333; 
    --dark-gray: #2f3241;
    
    --text-main-80: rgba(255, 255, 255, 0.80);

    --gray: #919191;
    --gray-3: #CCC;
    --gray-7: #E5E3DF;
    --gray-8: #DDD;
    
    --text: #434343;
    --main: #1F212C;

    --space: 20px;
    --border-radius: 5px;
}