:root {
    --white: #fff;
    --black: #000;
    --black-hover: #111;
    --black-active: #222;
    --laranja: #f95259;
    --gray: #919191;
    --dark-gray: #2f3241;
    --green: #00994D;
    --green-hover: #00BE60;
    --green-active: #00773C;
    --space: 20px;
    --border-radius: 5px;
    --text-main-80: rgba(255, 255, 255, 0.80);
    --main-80: #5A96D580;
    --second: #2D2B87;
    --third:#69E0A5;
    --space: 20px;
    --text: #434343;
    --main: #5a96d5;

}